@import "tailwindcss";

@theme {
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 120rem;

  --color-cyan: rgb(0, 183, 235);
  --color-magenta: rgb(235, 0, 183);
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
}

@layer base {
  [data-theme='dark'] {
    --color-yellow: #ffc42e;
    --color-text: #eaeaea;
    --color-subtext: #a3a3a3;
    --color-bg: #1e1e1e;
  }

  [data-theme='light'] {
    --color-yellow: #DAA520;
    --color-text: #1e1e1e;
    --color-subtext: #636363;
    --color-bg: #eaeaea;
  }
}